/**
AAWP Styles
 */
.compare-partners{
    clear: both;
}

.compare_partner_logo{
    width: 50px;
    margin-right: 5px;
}

.compare-partners {
    margin-bottom: 20px;
}

p.compare-price {
    margin-bottom: 10px;
}

/**
Horizontal ShortCode
 */

.main-row {
    display: flex;
}

.compare_basic_sc_left,
.compare_basic_right{
    width: 50%;
}

.price-box {
    display: flex;
    justify-content: space-evenly;
}

.compare_basic_sc_partner_price {
    text-align: center;
}

h4.compare_sc_title {
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .main-row {
        display: block;
    }

    .compare_basic_sc_left,
    .compare_basic_right{
        width: auto;
    }
}

/**
Freemius
 */
#packages ul>li article.featured{
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/**
Cloak Link
 */
.atc:hover {
    text-decoration: underline;
    cursor: pointer;
}

img.logo-amazon {
    width: 50px;
}

.aawp-product--horizontal .compare-price {
    display: flex;
    flex-direction: initial;
    justify-content: flex-end;
}

.aawp-product--horizontal .compare-price-partner {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

p.atc {
    min-height: 50px;
}

.aawp-table__td-links .compare-price-partner,
.aawp-product--vertical .compare-price-partner {
    float: left;
    width: 40%;
    margin-right: 20px;
    margin-bottom: 10px;
}
